.contenedorFooter{
    margin: 0px auto;
    font-size: 18px;
    padding: 0px 100px;
    color: #efebe9;
}
.contenedorFooter label{
    color: #212121;
    font-size: 14px;
}
.contenedorFooter form{
    padding: 0px;
}
@media (min-width:999px){
    .fila{
        display: flex;
    }
    .item-contacto{
        display: flex;
        align-items: center;
    }
    
}
@media (max-width:1000px){
    .ultimaCol{
        margin-top: 30px;
    }
    .input{
        margin-top: 15px;
    }
    .contenedorFooter{
        padding: 0px 20px;
        text-align: center;
    }
    .redes-sociales{
        text-align: center;
        width: 50%;
        margin: 0px auto;
    }
    .text-area{
        width: 100%;
    }
    
}


.input{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    margin-right: 15px;
}
*::placeholder{
    color: #212121;
}
.contenedorFooter form input{
    margin-left: 10px;
    border: none;
}
i{
    margin-right: 7px;
}
.boton a{
    color: #212121;
}
input:not([type]), input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default), textarea.materialize-textarea
{
    border: none;
}
.datos-contacto{
    display: flex;
    flex-direction: column;
    font-size:  14px;
}
.datos-contacto div{
    margin: 5px 0px 5px 0px;
}
.titulo-datos{
    margin-bottom: 20px;
}

.red-social{
    border-radius: 7px;
}
.redes-sociales{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 61%;
}

footer {
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
        -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
                   box-shadow: 0px 0px 20px rgba(0,0,0,.8);

    z-index: 100;
}