
* {
    font-family: 'Rubik', sans-serif;
}
.container {
    width: 90%;
}


::placeholder{
    color: #212121;
}

.carousel {
    height: 700px;
}

.carousel-row-container {
    display: flex;
    justify-content: center;
}

.brand-logo {
    height: 100%;
    margin-left: 1%;
}

.brand-logo img {
    margin-top: 10%;
    height: 80%;
    width: 60px;
}

.imagencard {
  width: 100px;
  height: 400px;
  margin-top: 10px;
}

.texto li{
  font-size: 20px;
  padding-bottom: 20px;
}

@media (max-width:1000px){
    .furnarius {
        font-size: 40px;
    }
}
