
* {
    font-family: 'Rubik', sans-serif;
}

a, a:hover, a.nounderline:link, a:link, a:hover {
    text-decoration: none;
}

#tarjeta2{
  display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 90%;
}
.pj{
    margin: 15px auto;
}
::placeholder{
    color: #212121;
}

.iso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.iso a img {
    width: 100%;
}

.iso a {
    width: 55%;
}

.carousel {
    height: 500px;
}

#shopCart{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 999;
    color: #6d4c41;
    margin-right: 20px;
    margin-bottom: 20px;

}

#shopCart a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#shopCart a i {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

#shopCart a i, #shopCart span {
    color: #6d4c41;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-header a, .modal-header a h6 {
    color: grey;
    margin-top: 3px;
    padding-top: 0;
}

.input-field input {
    border-bottom: 1px solid #9e9e9e !important;
}

.modal-footer a i {
    padding-right: 0;
    margin-right: 0;
}

#advertencia,#advertenciaEmail{
    border: #d32f2f solid 2px;
    background-color: #e53935;
}
#correcto{
    border: #1b5e20 solid 2px;
    background-color: #43a047;
}
.carousel-row-container {
    display: flex;
    justify-content: center;
}

.brand-logo {
    height: 100%;
    margin-left: 1%;
}

.brand-logo img {
    margin-top: 10%;
    height: 80%;
    width: 60px;
}
#logo{
    margin-left: 10px;
}

.parallax-container {
    height: 400px;
  }

.descripcion-sinopsis {
    padding: 20px;
    margin-top: 0;
    line-height: 25pt;
    font-weight: 400;
}

.card.horizontal .card-image {
    max-width: 90%;
}

.imagencomp{
  width: 70%;

}

.icomponentes{
  height: 320px;
}
.titulocarta{
    font-size: 10px;
}
.card-content{
  width: 100%;
}
.card .card-content{
    padding: 5px;
    margin-left: auto;
}
.card .card-image{
    margin-bottom: 15px;
}
.imagencard {
  height: 325px;
  margin-top: 10px;
}

.texto li{
  font-size: 18px;
  padding-bottom: 20px;
}
.texto{
		font-size: 12px;
}

@media (max-width:1000px){
    .furnarius {
        font-size: 40px;
    }

    .carousel {
        height: 500px;
    }

    .descripcion-sinopsis {
        font-size: 15px !important;
        padding: 15px;
        margin-top: 0;
        line-height: 20pt;
        font-weight: 400;
    }

	h1{
		font-size: 40px;
	}
	.iso a {
    width: 100%;
}

.icomponentes{
  height: 220px;
}

/* .card-content{
  width: 35%;
} */
}

@media (max-width:500px){
   .carousel {
        height: 300px;
    }


.imagencard {
  width: 50px;
  height: 300px;
  margin-top: 10px;
}
.texto{
	margin-bottom: 35px;
}

/* #tarjeta1{
  display: none;
}

#tarjeta2{
  display: block;
} */

/* .card-content{
  width: 100%;
} */
.pjs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}
