
* {
    font-family: 'Rubik', sans-serif;
}

a, a:hover, a.nounderline:link, a:link, a:hover {
    text-decoration: none;
}

.container {
    width: 90%;
}

::placeholder{
    color: #212121;
}

.iso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.carousel {
    height: 700px;
}
#shopCart{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 999;
    color: #6d4c41;
    margin-right: 20px;
}

#shopCart a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#shopCart a i {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

#shopCart a i, #shopCart span {
    color: #6d4c41;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-header a, .modal-header a h6 {
    color: grey;
    margin-top: 3px;
    padding-top: 0;
}

.input-field input {
    border-bottom: 1px solid #9e9e9e !important;
}

.modal-footer a i {
    padding-right: 0;
    margin-right: 0;
}

#advertencia,#advertenciaEmail{
    border: #d32f2f solid 2px;
    background-color: #e53935;
}
#correcto{
    border: #1b5e20 solid 2px;
    background-color: #43a047;
}
.carousel-row-container {
    display: flex;
    justify-content: center;
}

.brand-logo {
    height: 100%;
    margin-left: 1%;
}

.brand-logo img {
    margin-top: 10%;
    height: 80%;
    width: 60px;
}

.imagencard {
  width: 100px;
  height: 400px;
  margin-top: 10px;
}

.texto li{
  font-size: 20px;
  padding-bottom: 20px;
}

@media (max-width:1000px){
    .furnarius {
        font-size: 40px;
    }
}
